body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* styling our website header
header {
  background-color: #404040;
  padding: 1rem;
}

/* here for website header text */
/* header a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
} */
*/ main {
  padding: 1rem;
}
/* change to width of images to 30% or view width */
img {
  width: 20vmax;
  height: 30vmax;
}

.products {
  display: flex;
  flex-wrap: wrap; /* if no enough space, will arrange items to new line*/
  justify-content: center;
}

.product {
  border: 1px solid #404040;
  margin: 1rem;
}

.product-info {
  padding: 1rem;
}
